langchain
langchain-community
langchain-openai
langchain-ollama
langgraph
langgraph-checkpoint-postgres
ollama
python-dotenv
fastapi
uvicorn
psycopg[binary]
psycopg-pool
argon2-cffi
jinja2
openpyxl
docxtpl